nav {
  background-color: #333;
  color: white;
  padding: 10px;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 15px;
}

nav ul li {
  display: inline;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

.container {
  width: 90%; /* תופס 90% מרוחב המסך */
  max-width: 1200px; /* מגביל את הרוחב ל-1200px */
  margin: 0 auto; /* מרכז את הקונטיינר */
  padding: 50px; /* שמור על רווח פנימי */
}

.container table th,
.container table td {
  padding: 10px; /* ריווח פנימי לתאים */
  text-align: left; /* יישור הטקסט לשמאל */
  border: 1px solid #ddd; /* הוספת גבול דק */
}

footer {
  text-align: center;
  margin-top: 20px;
  padding: 10px;
  background-color: #f1f1f1;
}
